body {
  background-color: black;
  font-family: 'Muli', sans-serif;
  color: white;
  }
  a{
    text-decoration: none;
  }

/* HEADER */
nav ul{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
nav li {
text-align: center;
list-style: none;
}
.menuItem{
position: relative;
color: white;
padding: 20px 20px;
}
.menuItem a {
color: white;
}
.subMenu{
position: absolute;
top: 100%;
left:0;
display: none;
}
.menuItem:hover{
border-bottom: 1px solid white;
}
.menuItem:hover .subMenu{
  display: flex;
  background-color: white;
  z-index: 1;
}
.subMenu li {
  padding: 15px 20px;
}
.subMenu li a {
color: black;
}

/* FOOTER */

footer img{
  position: absolute;
  right: 20%;
}

/* MEDIA QUERIES */

  /* HAMBURGER MENU*/

.toggler{
  display:none;
}

/* Medium and small devices: smartphones, tablets */
@media screen and (max-width: 768px) {
  .menu{
    position: fixed;
    left: -230px;
    top: 80px;
    background-color: black;
    z-index:1;
    transition: all 0.4s ease;
  }
  .menu>ul{
    flex-direction: column;
  }
  .subMenu{
    flex-direction: row;
  }
  .toggler{
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    z-index:3;
    cursor: pointer;
    width: 92px;
    height:92px;
    opacity: 0;
  }
  .hamburger{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* Hamburger line */
  .hamburger div{
    position: relative;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.4s ease;
  }
  /* Top and bottom line*/
  .hamburger div:before, .hamburger div:after{
    content:'';
    position: absolute;
    z-index: 2;
    top: -15px;
    width:100%;
    height: 2px;
    background-color: white;
  }
  /*Moves line down*/
  .hamburger div:after{
    top: 15px;
  }
  /*Toggler animate*/
  .toggler:checked + .hamburger div{
    transform: rotate(135deg);
  }
  /*Turn lines into X*/
  .toggler:checked + .hamburger div:before, .toggler:checked + .hamburger div:after{
    top: 0;
    transform: rotate(90deg);
  }
  /*Show menu*/
  .toggler:checked ~ nav{
    transform: translate(200px);
  }
}
